body {
    margin-bottom: 40px;
}

header {
    z-index: 2500 !important;
}

.navbar-brand img {
    height: 45px;
    width: 45px;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
}

@media screen and (min-width: 768px) {

    .grid-large .grid-sizer,
    .grid-large .grid-item {
        width: 25% !important;
    }

}

@media screen and (min-width: 768px) {

    .grid-sizer,
    .grid-item {
        width: 20%;
    }

}

@media screen and (min-width: 1024px) {

    .grid-small .grid-sizer,
    .grid-small .grid-item {
        width: 10%;
    }

}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.grid:has(.grid-item) .message-empty {
    display: none;
}

.grid-item {
    position: relative;
}

.grid-item .blurhash {
    position: absolute;
    top: 0;
    left: 0;
}

.grid-item .blurhash,
.grid-item img {
        transition: opacity 0.4s;
}

.grid .card-body {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.grid .card {
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.grid .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08),
                0 2px 3px rgba(0, 0, 0, 0.06);
}

.grid .card-footer {
    font-size: 0.7em;
}

.grid .card.clickable {
    cursor: pointer;
}

.grid .card-img-container {
    aspect-ratio: 1 / 1; /* Change to your desired ratio (e.g., 4/3, 1/1, etc.) */
    overflow: hidden;
    position: relative;
    width: 100%;
}

.grid .card-img-container img,
.grid .card-img-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image fills area and crops excess */
}

.folder-thumbnail {
    top: 20%;
    left: 12.5%;
}

.album-thumbnail {
    max-width: 40%;
    max-height: 40%;
    left: 50%;
    top: 50%;
    transform: translateX(-55%) translateY(-50%) rotate(var(--rotation, 0deg));
}

.card-img-overlay.top {
    --bs-bg-opacity: .5;
    height: auto;
    bottom: auto !important;
}

.card-img-overlay.bottom {
    --bs-bg-opacity: .5;
    height: auto;
    width: auto;
    left: auto;
    right: 0px;
    bottom: 0px;
    top: auto !important;
}

@media (max-width: 992px) {

    .album-thumbnail {
        max-width: 30%;
        max-height: 30%;
        left: 50%;
        top: 50%;
        transform: translateX(-55%) translateY(-50%) rotate(var(--rotation, 0deg));
    }

}

/* Change the GLightbox background */
.glightbox-clean .gcontainer,
.glightbox-clean .gslide,
.glightbox-clean .gslide-inner-content {
    background: rgba(255, 255, 255, 0.50) !important;   /* White background */
    color: #000;                   /* Dark text for contrast */
}

/* Optional: adjust overlay */
.goverlay {
    background: rgba(255, 255, 255, 0.75) !important; /* white overlay instead of black */
}

/* Optional: make captions readable */
.gdesc-inner, .gslide-title {
    color: #000 !important;
}

/* Make slides full viewport */
.glightbox-clean .gslide,
.glightbox-clean .gslide-inner-content,
.glightbox-clean .ginner-container,
.glightbox-clean .gslide-media {
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    max-height: none !important;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

/* Image fills the screen but won't upscale beyond natural size */
.glightbox-clean .gslide-image img {
    display: block;
    margin: auto;       /* center image */
    max-width: 100%;    /* limit to viewport width */
    max-height: 100%;   /* limit to viewport height */
    width: auto;        /* keep natural size if smaller */
    height: auto;       /* keep natural size if smaller */
    object-fit: contain;
}

.wrapper-toolbox {
    float: right;
    overflow: 0;
    max-height: 30px;
}

.toolbar .select-stop,
.toolbar .select-action {
    display: none;
}

.toolbar.selection-mode .no-select,
.toolbar.selection-mode .select-start {
    display: none;
}
.toolbar.selection-mode .select-stop,
.toolbar.selection-mode .select-action {
    display: inline-block;
}


.selection-mode .selection-toolbox.if-select,
.container:not(.selection-mode) .selection-toolbox:not(.if-select) {
    display: block;
}

.container:not(.selection-mode) .selection-toolbox.if-select,
.selection-mode .selection-toolbox:not(.if-select) {
    display: none;
}

.selection-mode .thumbnail.selected {
    border-color: #808080;
    border-width: 1px;
}

.grid-item i.bi-check-circle-fill {
    display: none;
}

.grid-item .selected .bi-check-circle-fill {
    display: block;
}

.selection-mode .grid-item .selected .card-footer {
    background: #dedede;
}

.col-form-label {
    font-weight: bold;
}

.offcanvas {
    background: transparent !important; /* no background on container */
}

.offcanvas {
    border: 0 !important;
    background: transparent !important; /* no background on container */
}

.offcanvas-bottom-sm {
    height: auto !important;
}

.offcanvas-inner {
    max-width: 576px;
    left: 50% !important;
    height: auto !important;
}

h1 .btn .bi {
    margin-right: 5px;
}

@media (max-width: 576px) {

    .offcanvas .rounded-top {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    .offcanvas-inner {
        max-width: auto;
        left: 0 !important;
        transform: none !important;
    }

}

.grid-item .quick-actions {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    text-align: right;
    transition: opacity 0.25s linear;
}


@media (max-width: 1024px) {

    .grid-item .quick-actions {
        display: none !important;
    }

}

.grid-item:hover .quick-actions {
    --bs-bg-opacity: .75;
    opacity: 1;
}

.selection-mode .grid-item .quick-actions {
    opacity: 0 !important;
}


.form-message {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    padding: 0 1rem;
    transition:
        opacity 0.4s ease,
        visibility 0.4s ease,
        max-height 0.4s ease,
        padding 0.4s ease;
}

.form-message.visible {
    opacity: 1;
    visibility: visible;
    max-height: 200px;
    padding: 1rem;
}

table .col-id {
    width: 50px;
}

table .col-role {
    width: 100px;
}

table .col-actions {
    width: 200px;
}

footer {
    width: 100%;
    height: 50px; /* adjust as needed */
    background: linear-gradient(to top, white, transparent);
    pointer-events: none;
    z-index: 250;
}


.dropdown-item i.bi-check-lg {
    visibility: hidden;
}

.dropdown-item.selected i.bi-check-lg {
    visibility: visible;
}



/**
 * PicoView
 */
.picoview {
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 5000;
}

.picoview.show-bg {
    opacity: 1;
}

.picoview-img-wrapper {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    transition: transform 1s linear, opacity 1s linear;
    transform: none;
    opacity: 1;
}

.picoview-img-wrapper.prev,
.picoview-img-wrapper.next,
.picoview-img-wrapper.open {
    transition: opacity 1s linear;
    opacity: 0;
}

.picoview-img-wrapper.prev {
    transform: translateX(-75%) scale(0.5);
    transition: transform 1s linear, opacity 1s linear;
}

.picoview-img-wrapper.next {
    transform: translateX(75%) scale(0.5);
    transition: transform 1s linear, opacity 1s linear;
}

.picoview-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: none;
    transition: transform 0.5s ease;
}

.picoview-img-wrapper.open img {
    transform: scale(0.7);
}

.picoview-img-wrapper img.old {
    object-fit: contain;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
}

.picoview .btn.playing .bi-play-fill {
    display: none;
}

.picoview .btn:not(.playing) .bi-stop-fill {
    display: none;
}

.spinner-overlay {
    position: absolute;
    inset: 0; /* covers full lightbox-inner */
    background: rgba(255, 255, 255, 0.7); /* semi-transparent */
    z-index: 15; /* above images, below toolbar/buttons */
}

/**
 * Tokenized access
 */
.shared-view .no-share {
    display: none !important;
}

/**
 * Admin page
 */
.progress-container {    
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition:
        opacity 1s ease,
        max-height 1s ease;
}

.progress-container.visible {
    max-height: 75px;
    opacity: 1;
}

.progress-container .job-label {
    width: 100px;
}

.progress-container .job-count {
    font-size: 0.9em;
}
